/* a=0 b=0 c=1 -> 001 */
body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #818181;
}

/* a=0 b=0 c=1 -> 001 */
h1 {
      background-color:#006627; 
      color: #fff;
      text-transform: uppercase;
      padding: 2% 2%;
      text-align: center; 
      font: 700 5em "American Typewriter", serif;
      margin: 0;
}

h2 {
    margin: 0;
}

img{
    display: block;
    margin: 1% auto;
    width:50%;
    height: auto;
}

p {
    margin: 0;
}

/* a=0 b=0 c=1 -> 001 */
nav ul {
    list-style-type: none;
    margin: 0 0 2% 0;
    padding: 0;
    overflow: hidden;
    background-color: #006627;
    font: 700 1.3em "American Typewriter", serif;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

footer{
    background-color:#006627; 
    color: #fff;
    text-align: center;
    margin-top: 2%;
}

footer p{
    padding: 1%;
    font: 700 2em "American Typewriter", serif;
    margin: 0;
}

footer ul{
    font: 700 1em "American Typewriter", serif;
    list-style-type: none;
    overflow: hidden;
}

footer ul li a {
    display: inline;
    text-align: left;
    color: white;
    padding: 1%;
}

ul.noBulletPoint {
    list-style-type: none;
}

figure.personaje{
    margin: 0;
    font-weight: 700;
    margin: 2% 0%;
}

figure.personaje img{
    width: 20%;
    height: 20%;
    float: right;
    vertical-align: top;
}

figure.personaje figcaption{
    text-align: left;
    font-weight: 700;
}

li.izquierda{
    display: inline-block;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;    
}

th, td{
    text-align: center;
    border: solid 3px #000000;
}

figcaption{
    text-align: center;
    font-weight: 700;
}

video{
    width: 75%;
    height: auto;
    display: block;
    margin: 2% auto;
}

img.valid{
    width:auto;
}